@import '../../styles/mixin.scss';

.images-uploader {
  // as child
  grid-column: 1 / -1;
  justify-self: center;
  // as parent
  display: flex;
  flex-direction: column;

  width: 100%;

  &__label {
    // as child
    align-self: center;
    // self
    padding: 1rem;
    border: var(--border-light);
    border-radius: 1rem;

    text-align: center;

    cursor: pointer;

    & > *:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    &-title {
      font-size: 1.8rem;
      font-weight: 500;
    }
  }

  &__error {
    display: none;
    font-size: 1.3rem;
    color: var(--color-red);

    &--active {
      display: block;
    }
  }

  &__images {
    display: flex;
    overflow-x: auto;
  }

  &__figure {
    // as child
    flex-shrink: 0;
    // self
    position: relative;

    height: 20rem;
    width: 20rem;
    margin: 1rem;
    border-radius: 1rem;
    overflow: hidden;

    & img {
      @include image-cover;
    }
  }

  &__btn {
    // self
    position: absolute;
    top: 1rem;
    right: 1rem;
    // as parent
    @include flex-center;

    padding: 0.3rem;
    border-radius: 999px;

    background-color: rgba(#ef4444, 0.9);
    color: #fff;

    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      background-color: rgba(#d73d3d, 0.9);
    }

    &-icon {
      height: 2rem;
      width: 2rem;
    }
  }
}
