@import '../../styles/mixin.scss';

.update-password__container {
  @include flex-center;
  height: 100%;
}

.update-password {
  @include flex-center;
  flex-direction: column;

  & > *:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  & > *:not(button) {
    align-self: stretch;
  }

  &__btn {
    align-self: flex-end;
  }
}
