@import '../../styles/mixin.scss';

.room-detail {
  &__host {
    grid-column: 1;

    &__content {
      display: grid;
      grid-template-columns: auto 1fr;

      @include respond(sm) {
        @include flex-center;
        flex-direction: column;
      }
    }

    &__figure {
      height: 12rem;
      width: 12rem;
      border-radius: 999px;
      overflow: hidden;

      @include respond(sm) {
        margin-bottom: 2rem;
      }

      & img {
        @include image-cover;
      }
    }

    &__info {
      @include flex-center;
      flex-direction: column;
    }

    &__name {
      @include flex-center;
      flex-wrap: wrap;
      font-size: 1.8rem;

      & span {
        text-align: center;
      }
    }

    &__contact {
      display: inline-block;
      padding: 1rem;
      margin-top: 2rem;
      border: 1px solid currentColor;
      border-radius: 1rem;

      font-size: 2rem;

      transition: all 0.2s;

      &:hover {
        background-color: var(--color-gray-light-2-trans);
      }
    }
  }
}
