@import '../../styles/mixin.scss';

.room-detail {
  &__location {
    // as child
    grid-column: 1 / -1;

    &__map {
      height: 48rem;
      width: 100%;
    }

    &__marker-icon {
      translate: -50% -50%;

      box-sizing: content-box;
      height: 3.5rem;
      width: 3.5rem;
      padding: 1rem;
      border-radius: 999px;

      background-color: var(--color-primary);
      color: #fff;
    }
  }
}
