@import '../../styles/mixin.scss';

.input {
  &__container {
    display: grid;
    gap: 1px;
  }

  &__label {
    font-size: 1.3rem;
    font-weight: 600;
  }

  &__input {
    min-width: 25rem;
    padding: 1rem 2rem;
    border-bottom: 3px solid transparent;
    border-radius: 0.5rem;

    background-color: var(--color-gray-light-2-trans);
    font-size: 1.6rem;

    transition: all 0.1s;

    &:focus {
      outline: none;
      border-bottom: 3px solid var(--color-green);
    }
    &--invalid:focus {
      border-bottom: 3px solid var(--color-orange);
    }

    &--error {
      background-color: var(--color-red-trans);
    }

    &::placeholder {
      font-size: 1.4rem;
    }
  }

  &__error-message {
    justify-self: end;

    font-size: 1.4rem;
    text-transform: lowercase;
    color: var(--color-red);

    opacity: 0;
    visibility: hidden;
    transition: all 0.1s;

    &--show {
      opacity: 1;
      visibility: visible;
    }
  }
}
